<a href="{% url 'blog:index' %}">Blog Maker</a> |
<a href="{% url 'blog:my_blogs' %}">My blogs</a> |
{% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <br><br>
    <form action="{% url 'accounts:logout' %}" method='post'>
        {% csrf_token %}
        <button name='submit'>Log out</button>
    </form>
{% else %}
    <a href="{% url 'accounts:login' %}">Log in</a> |
    <a href="{% url 'accounts:register' %}">Register</a>
    <br>
{% endif %}

{% block content %}
{% endblock content %}